.btn-white {
  text-decoration: none;
  border: none;
  color: #FAFAFA;
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline-color: #FAFAFA;
  cursor: pointer; }
  .btn-white:hover {
    background-color: rgba(250, 250, 250, 0.2); }
  .btn-white:active {
    background-color: #FAFAFA; }

.btn-blue {
  text-decoration: none;
  border: none;
  color: #039BE5;
  border: 1px solid #039BE5;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline-color: #039BE5;
  cursor: pointer; }
  .btn-blue:hover {
    background-color: rgba(3, 155, 229, 0.2); }
  .btn-blue:active {
    background-color: #039BE5; }

.btn-indigo {
  text-decoration: none;
  border: none;
  color: #3F51B5;
  border: 1px solid #3F51B5;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline-color: #3F51B5;
  cursor: pointer; }
  .btn-indigo:hover {
    background-color: rgba(63, 81, 181, 0.2); }
  .btn-indigo:active {
    background-color: #3F51B5; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #212121;
  color: #FAFAFA;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif; }

.default {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 5rem; }
  .default button {
    font-size: 2rem; }

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  background-color: rgba(63, 81, 181, 0.5);
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5); }
  .navbar__clearfix {
    display: block;
    width: 100vw;
    height: 5rem; }
  .navbar__title {
    font-family: "Playfair Display";
    font-weight: 300;
    letter-spacing: 2.5px;
    font-size: 2.5rem;
    color: #FAFAFA; }
  .navbar__links {
    display: flex;
    align-items: center; }
    .navbar__links a {
      margin-left: 2rem; }
  .navbar__searchbar {
    background-color: #FAFAFA;
    border: none;
    border-radius: 100px;
    height: 2.5rem;
    width: 20rem;
    padding-left: 1rem;
    outline: none; }
    .navbar__searchbar:focus {
      box-shadow: 0 0 0 2.5px #039BE5; }
